In [3]:
import boto3
import json
import pandas as pd
from pandas.io.json import json_normalize


# Here I need to extract text from an receipt image.

In [5]:
client=boto3.client('rekognition')

In [6]:
bucket="shuraosipov-content"
image="receipt.jpg"

In [7]:
response=client.detect_text(Image={'S3Object':{'Bucket':bucket,'Name':image}})

In [8]:
recipe_data = response['TextDetections']
df = json_normalize(recipe_data)
df.columns

Index(['DetectedText', 'Type', 'Id', 'Confidence',
       'Geometry.BoundingBox.Width', 'Geometry.BoundingBox.Height',
       'Geometry.BoundingBox.Left', 'Geometry.BoundingBox.Top',
       'Geometry.Polygon', 'ParentId'],
      dtype='object')

In [9]:
df.iloc[:, [0,1,2,3,4,9]]

,DetectedText,Type,Id,Confidence,Geometry.BoundingBox.Width,ParentId
0,MARKET,LINE,0,92.021942,0.425150,NaN
1,BASKET.,LINE,1,99.647774,0.397206,NaN
2,"""MORE FOR YOUR DOLLAR""",LINE,2,98.943420,0.439063,NaN
3,400,LINE,3,96.712563,0.074187,NaN
4,SOMERVILLE. SOMERVILLE AVE,LINE,4,98.986023,0.401894,NaN
...,...,...,...,...,...,...
69,FR.,WORD,69,96.268639,0.065868,21.0
70,NORWEGIAN,WORD,70,98.762611,0.189621,21.0
71,SALMON,WORD,71,97.983109,0.131739,21.0
72,17.98,WORD,72,96.403984,0.117767,22.0
73,CKD,WORD,73,97.646645,0.065887,23.0